.about {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  text-align: center; /* center all text */
  background-color: white; /* add white background */
  border-radius: 10px; /* add border radius */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25); /* add box shadow */
}

.about h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 36px;
  margin-top: 40px;
}

.about p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.about ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.about li {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.about li strong {
  font-weight: bold;
}